html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-style: normal; }

h4, h5 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase; }

a {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #333;
  padding: 0 0 2px 0; }

p {
  font-family: "Neuton", serif;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.6em; }

u {
  text-decoration: none;
  padding: 0 0 1px 0; }

body {
  background: #ececec;
  overflow-x: hidden;
  overflow-y: auto;
  color: #333; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: all; }

button:active {
  outline: none;
  border: none; }

#container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white; }
  #container::after {
    clear: both;
    content: "";
    display: block; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  section:last-child {
    margin-right: 0; }

.sec1 h1, .sec2 h1, .sec3 h1, .sec4 h1, .sec5 h1, .sec6 h1 {
  display: inline-block;
  margin: 80px 0 0 0;
  padding: 0 0 6px 0; }

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  text-align: center; }
  .logo:last-child {
    margin-right: 0; }
  .logo h1 {
    display: inline-block;
    font-size: 2.75em;
    border-bottom: 5px solid #ddd; }

h4 {
  display: inline-block;
  margin: 40px 0 0 0;
  padding: 0 0 3px 0; }

h5 {
  display: inline-block;
  margin: 20px 0 0 0; }

li {
  margin-bottom: 15px; }

.sec1 h1 {
  border-bottom: 4px solid #CFF09E; }
.sec1 h4 {
  border-bottom: 2px solid #CFF09E; }
.sec1 a {
  border-bottom: 2px solid #CFF09E; }
.sec1 u {
  border-bottom: 2px solid #CFF09E; }

.sec2 h1 {
  border-bottom: 4px solid #A8DBA8; }
.sec2 h4 {
  border-bottom: 2px solid #A8DBA8; }
.sec2 a {
  border-bottom: 2px solid #A8DBA8; }
.sec2 u {
  border-bottom: 2px solid #A8DBA8; }

.sec3 h1 {
  border-bottom: 4px solid #79BD9A; }
.sec3 h4 {
  border-bottom: 2px solid #79BD9A; }
.sec3 a {
  border-bottom: 2px solid #79BD9A; }
.sec3 u {
  border-bottom: 2px solid #79BD9A; }

.sec4 h1 {
  border-bottom: 4px solid #3B8686; }
.sec4 h4 {
  border-bottom: 2px solid #3B8686; }
.sec4 a {
  border-bottom: 2px solid #3B8686; }
.sec4 u {
  border-bottom: 2px solid #3B8686; }

.sec5 h1 {
  border-bottom: 4px solid #0B486B; }
.sec5 h4 {
  border-bottom: 2px solid #0B486B; }
.sec5 a {
  border-bottom: 2px solid #0B486B; }
.sec5 u {
  border-bottom: 2px solid #0B486B; }

.sec6 h1 {
  border-bottom: 4px solid #0E0816; }
.sec6 h4 {
  border-bottom: 2px solid #0E0816; }
.sec6 a {
  border-bottom: 2px solid #0E0816; }
.sec6 u {
  border-bottom: 2px solid #0E0816; }

.main h2:nth-of-type(1) span {
  border-bottom: 3px solid #F53240; }
.main h2:nth-of-type(2) span {
  border-bottom: 3px solid #E7DFDD; }
.main h2:nth-of-type(3) span {
  border-bottom: 3px solid #F9BE02; }
.main h2:nth-of-type(4) span {
  border-bottom: 3px solid #02C8A7; }
.main h2:nth-of-type(5) span {
  border-bottom: 3px solid #4717F6; }
.main h2:nth-of-type(6) span {
  border-bottom: 3px solid #A239CA; }

/*# sourceMappingURL=styles.css.map */
